---
import Layout from "../layouts/Layout.astro";
---
<Layout>

<h2 class="w-full bg-gray-300 text-center py-4 text-2xl">About Us</h2>
<div class="mx-3 lg:mx-5 space-y-5">
    <figure class="max-w-screen-md mx-auto text-center">
        <img src="/quote-icon.svg" alt="Quote" class="mx-auto w-[10%]">

        <blockquote><p class="text-lg lg:text-2xl italic font-medium text-gray-900 text-center">"Our mission is to
            inspire homeowners to make
            responsible choices when it comes to the energy they use
            in their homes."</p>
        </blockquote>
        <figcaption class="flex items-center justify-center mt-6 space-x-3">
            <img class="w-8 lg:w-10 rounded-full" src="/founder.png" alt="Headshot of Founder">
            <div class="flex items-center divide-x-2 divide-gray-500">
                <cite class="pe-3 font-medium lg:text-lg text-gray-900">Jonathan Fortreau</cite>
                <cite class="ps-3 text-sm lg:text-base">Founder<span class="hidden min-[380px]:inline"> of GreenLeague</span></cite>
            </div>
        </figcaption>
    </figure>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet porttitor magna. Nulla nec nisl nec erat
        convallis viverra. Curabitur luctus ipsum metus, eget ornare purus facilisis eu. Fusce ut est enim. Curabitur
        commodo lacus in felis lacinia posuere. Sed accumsan elementum diam in scelerisque. Proin placerat nisl ut quam
        convallis auctor. Pellentesque fermentum dignissim ultrices. Donec at justo mattis, consectetur massa ut, dictum
        lacus. Nam laoreet lacinia purus placerat dignissim. Proin quis urna sit amet sem posuere venenatis. Nulla
        sagittis imperdiet sapien, vel malesuada justo dapibus feugiat. Etiam fringilla tincidunt tortor, dapibus
        iaculis tellus accumsan et. Suspendisse pulvinar nisi nec lacinia fringilla.
        <br>
        Aliquam erat volutpat. Curabitur vitae lacus sed sem consectetur placerat. Etiam dignissim viverra cursus.
        Integer convallis, ex nec aliquam placerat, metus dui euismod nunc, quis iaculis sapien velit at neque. Fusce
        volutpat metus libero, id eleifend quam pulvinar ac. Sed ac malesuada ligula, ut lobortis dui. Aliquam nec magna
        pharetra, malesuada nunc quis, finibus risus. Quisque sodales libero facilisis rhoncus bibendum. Morbi laoreet
        nisl id erat placerat, sed lacinia nisl posuere. Quisque consequat consectetur massa nec condimentum.
        Suspendisse dapibus, metus id lacinia aliquam, diam ipsum cursus eros, eget tristique ex quam porta erat.
        Pellentesque condimentum commodo luctus. Nulla blandit porta lectus. Praesent quis neque in turpis ultricies
        fringilla sit amet vel justo.
        <br>
        Vivamus sit amet dui libero. Proin laoreet ultrices lacus sed malesuada. Nulla facilisi. Nam vehicula finibus
        lectus quis laoreet. Donec eu lectus orci. Vestibulum id nisi lectus. Pellentesque porta eu ante vel euismod.
        Vivamus vehicula pharetra pellentesque. Quisque eu lacinia lacus, eget suscipit elit.
        <br>
        Curabitur vitae lacinia nunc. Nam semper, eros sed egestas semper, ante lacus fringilla leo, sed maximus mauris
        nunc eget justo. Nam congue erat a dui sollicitudin finibus. Aliquam nec nisi scelerisque, luctus metus in,
        blandit leo. Vivamus mattis est mauris, eu ullamcorper nunc aliquam ut. Nulla facilisi. Nam consequat augue et
        turpis rutrum laoreet ac quis erat. Nam luctus leo tortor, consequat pretium neque consequat vitae. Curabitur
        suscipit ipsum at justo ullamcorper, ac ullamcorper ex pellentesque. Aliquam vitae rutrum erat. Curabitur eu
        pretium nunc.
        <br>
        Duis bibendum, nunc sed sodales ornare, velit odio tempor dolor, id rhoncus tortor turpis id est. Aliquam
        interdum quis turpis eget auctor. Aliquam quis feugiat arcu, sed scelerisque neque. Fusce ut hendrerit nisl,
        vitae tristique risus. Maecenas odio ipsum, volutpat lacinia feugiat ut, eleifend et est. Mauris iaculis nisl
        odio, id maximus nibh posuere ut. Pellentesque libero mauris, luctus nec urna ac, finibus bibendum libero.
        Mauris porta ipsum sem, vitae commodo sem ultricies vitae. Pellentesque ultrices cursus ultricies. Proin vitae
        convallis sem.</p>
</div>
</Layout>