---

---
<div class="flex w-full bg-center bg-cover" style="background-image: url(/hero.png)">
    <div class="flex items-center justify-center w-full h-full bg-gray-900 bg-opacity-50 py-12">
        <div class="text-center">
            <div class="container px-4 mx-auto">
                <div class="max-w-4xl mx-auto text-center">
                    <span class="text-gray-200 font-semibold uppercase tracking-widest">Welcome to</span>
                    <h2 class="text-gray-100 text-4xl lg:text-5xl my-3">GreenLeague</h2>
                    <h3 class="max-w-3xl mx-auto mb-2 text-lg text-gray-300">Helping the world be a better place <br>one step at a time</h3>
                </div>
            </div>
        </div>
    </div>
</div>